.advantages {
    padding: 70px 0 65px 0;
    min-height: 473px;
    background-color: #F6F6F6;
    &__header {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: #0D0D0D;
        text-transform: uppercase;
    }
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 273px;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        img {
            display: block;
            margin: 0 auto;
        }
        a {
            text-decoration: underline;
            color: #ff0000;
        }
        &_animated {
            animation: heartbeat 1.5s ease infinite; 
            &:hover {
                animation-play-state: paused;
            }
        } 
    }
    &__subheader {
        margin: 35px 0 20px 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #0D0D0D;
    }
}