@media (max-width: 1200px) {
    .container {
        max-width: 850px;
    }
    .advantages__item {
        font-size: 13px;
    }
    .consultation {
        .title {
            &_left {
                font-size: 33px;
                line-height: 45px;
            }
        }
        &__descr {
            font-size: 18px;
            line-height: 27px;
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 650px;
    }
    .header {
        &__logo {
            width: 235px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 15px;
        }
    }
    .button {
        width: 120px;
        height: 30px;
        font-size: 10px;
        &_main {
            width: 225px;
            font-size: 12px;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 90px;
        }
        &__header {
            font-size: 39px;
            line-height: 39px;
        }
        &__subheader {
            margin-top: 14px;
            line-height: 22px;
            font-size: 22px;
        }
        &__icons {
            margin-top: 60px;
            width: 396px;
        }
        &__icon {
            font-size: 12px;
        }
        &__link {
            margin-top: 10px;
            font-size: 12px;
        }
    }
    .advantages {
        &__header {
            font-size: 27px;
        }
        &__wrapper {
            margin-top: 60px;
        }
        &__item {
            width: 208px;
            font-size: 10px;
        }
        &__subheader {
            margin: 30px 0 16px 0;
            font-size: 17px;
            line-height: 17px;
        }
    }
    .consultation {
        padding-top: 80px;
        min-height: 579px;
        .title {
            &_left {
                font-size: 23px;
                line-height: 34px;
            }
        }
        &__descr {
            font-size: 16px;
            line-height: 22px;
        }
        .feed-form {
            width: 280px;
            .button {
                &_submit {
                    width: 100%;
                    height: 50px;
                    color: #ffffff;
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 500px;
    }
    .header {
        &__logo {
            width: 170px;
        }
        &__official {
            font-size: 9px;
            span {
                font-size: 13px;
            }
        }
        &__phone {
            font-size: 12px;
        }
    }
    .button {
        width: 100px;
        height: 25px;
        font-size: 9px;
        &_main {
            margin-top: 50px;
            width: 225px;
            font-size: 12px;
        }
    }
    .promo {
        min-height: 560px;
        &__wrapper {
            margin-top: 90px;
        }
        &__header {
            font-size: 28px;
            line-height: 28px;
        }
        &__subheader {
            margin-top: 10px;
            line-height: 16px;
            font-size: 16px;
        }
        &__icons {
            margin-top: 50px;
            width: 365px;
        }
        &__icon {
            font-size: 10px;
        }
        &__link {
            margin-top: 10px;
            font-size: 12px;
        }
    }
    .advantages {
        min-height: 390px;
        padding-top: 60px;
        &__header {
            font-size: 23px;
        }
        &__wrapper {
            margin-top: 50px;
        }
        &__item {
            width: 208px;
            font-size: 10px;
            img {
                width: 65px;
                height: 60px;
            }
        }
        &__subheader {
            margin: 22px 0 16px 0;
            font-size: 15px;
            line-height: 15px;
        }
    }
    .consultation {
        padding: 60px 0 70px 0;
        min-height: 506px;
        .title {
            &_left {
                font-size: 22px;
                line-height: 30px;
            }
        }
        &__descr {
            font-size: 15px;
            line-height: 20px;
        }
        .feed-form {
            margin-top: 30px;
            width: 235px;
            input {
                height: 45px;
                margin-bottom: 12px;
                padding: 0 15px;
                font-size: 13px;
            }
            .button {
                &_submit {
                    width: 100%;
                    height: 45px;
                    color: #ffffff;
                    font-size: 13px;
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 300px;
    }
    .header {
        &__logo {
            width: 175px;
        }
        &__official {
            display: none;
        }
        &__phone {
            font-size: 14px;
        }
    }
    .button {
        width: 110px;
        height: 25px;
        font-size: 9px;
        &_main {
            margin-top: 35px;
            width: 160px;
            font-size: 11px;
        }
    }
    .promo {
        min-height: 440px;
        padding-bottom: 10px;
        &__wrapper {
            margin-top: 60px;
        }
        &__header {
            font-size: 21px;
            line-height: 21px;
        }
        &__subheader {
            margin-top: 10px;
            line-height: 12px;
            font-size: 12px;
        }
        &__icons {
            margin-top: 50px;
            width: 250px;
        }
        &__icon {
            width: 80px;
            font-size: 10px;
            img {
                width: 34px;
                height: 36px;
                margin-bottom: 12px;
            }
        }
        &__link {
            margin-top: 9px;
            font-size: 11px;
        }
    }
    .advantages {
        min-height: 390px;
        padding-top: 40px;
        &__header {
            font-size: 20px;
        }
        &__wrapper {
            margin: 16px auto 0 auto;
            flex-direction: column;
            width: 208px;
        }
        &__item {
            margin-top: 20px;
            width: 208px;
            font-size: 14px;
            img {
                width: 65px;
                height: 60px;
            }
        }
        &__subheader {
            margin: 15px 0 13px 0;
            font-size: 15px;
            line-height: 15px;
        }
    }
    .consultation {
        padding: 40px 0 50px 0;
        min-height: 416px;
        .title {
            &_left {
                font-size: 13px;
                line-height: 20px;
            }
        }
        &__descr {
            font-size: 13px;
            line-height: 20px;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 22px;
            width: 195px;
            input {
                height: 45px;
                margin-bottom: 12px;
                padding: 0 12px;
                font-size: 12px;
            }
            .button {
                &_submit {
                    width: 100%;
                    height: 45px;
                    color: #ffffff;
                    font-size: 12px;
                }
            }
        }
    }
}